<p class="abouttext">
    <div class="abouttext">
        <b>General information</b><br><br>

        The following study is part of a master thesis at the Deutschen Forschungszentrum für Künstliche Intelligenz (DFKI)
        and Universität des Saarlandes (UdS).<br><br>
        <b>Voluntary participation and consent</b><br><br>

        Participation in the study is voluntary. Consent to participate in this study can be revoked at any time and without
        giving reasons until the end of the data collection by ending the survey (a corresponding button is available on the website)
        or closing the browser window. All incomplete data records will be deleted by us. After the end of the data collection,
        the legal rights of revocation, information, correction, blocking and deletion can no longer be exercised,
        because the data can no longer be assigned to the data subject. <br><br>
        <b>What data do we collect?</b><br><br>

        After consenting to the data collection, the following data will be collected and processed anonymously only: <br>
        <ul>
            <li>Input in the online survey</li>
        </ul><br>

        For technical reasons, the following data, among other things, which are transmitted from the Internet browser to us
        or to our web space provider, are recorded (so-called server log files):<br>
        <ul>
            <li>Browser type and version</li>
            <li>Operating system used</li>
            <li>Website previously visited (referrer URL)</li>
            <li>Date and time of access</li>
            <li>Internet Protocol (IP) address</li>
        </ul><br>

        This anonymous data is not merged with the survey data. On this website we use so-called cookies. Cookies are small
        files that are stored by your web browser. The cookies used on our website do not cause any harm to your computer and do
        not contain any malware. They enable a user-friendly and effective use of this website. We use permanent cookies with
        a maximum validity period of 365 days. We use these cookies exclusively to exclude multiple participation.<br><br>

        <b>Anonymization of data</b><br><br>

        With the transmission of the collected data to our server, an anonymization takes place, which makes an allocation
        of the collected data to a person practically impossible, if no personal data are entered in free text fields.<br><br>

        <b>What do we use the collected data for?</b><br><br>

        The results and data will be used exclusively for scientific research purposes and they will be published in anonymous
        form as part of the final thesis and as a scientific publication of this study. Furthermore, they can be further processed
        in anonymous form for other scientific research purposes.<br><br>

        <b>Contact persons</b><br><br>

        The DFKI is responsible for conducting this study. The contact person at DFKI is Maximilian Altmeyer (maximilian.altmeyer@dfki.de).
        If you have any questions that are not answered in this privacy statement or would like further information on
        data protection, please contact our data protection officer (datenschutz@dfki.de).<br><br>

        <b>Right of complaint</b><br><br>

        You have the right to lodge a complaint with a supervisory authority if you believe that the processing of your
        personal data violates legal data protection regulations.<br><br>
    </div>
</p>
