{% extends "base.html" %}
{% block content %}
<br>
    <div class="container" id="finish" name="finish">
        <div class="card">
            <div class="card-header text-white">
                Finished Study
            </div>
            <div class="card-body">
                <p class="card-text">You have already successfully participated in and completed this study.
                    <br> Thank you for your participation!
                </p>
            </div>
            <div class="modal-footer" id="finish">
                <a href="https://www.prolific.co/" class="btn btn-primary">Return to prolific</a>
            </div>
        </div>
</div>
{% endblock %}
