{% extends "base.html" %}
{% block content %}
<br>
    <div class="container" id="finish" name="finish">
        <div class="card">
            <div class="card-header text-white">
                Finished Study
            </div>
            <div class="card-body">
                <p class="card-text">You have successfully participated in and completed this study.
                    <br> Thank you for your participation!
                </p>
            </div>
{#            <div class="modal-footer" id="finish">#}
{#                <a href="https://app.prolific.co/submissions/complete?cc=4FED7A67" class="btn btn-primary">Return to prolific</a>#}
{#            </div>#}
        </div>
</div>
{% endblock %}
