{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5 page-header">Welcome to WebSurvey</h1>
        </div>
    </div>
</div>
<br>
<div class="container" id="card0">
    <div class="card">
        {% include 'cards/start.html' %}
        <div class="modal-footer" id="accept" style="display: none;">
            <a class="btn btn-accept-terms" onclick="displayCards()"> Continue</a>
        </div>
    </div>
</div>
<div class="container" id="card1" style="display: none;">
    <div class="card">
        {% include 'cards/personal_info.html' %}
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress()"> Continue</a>
        </div>
    </div>
</div>
{% include 'cards/task_pre.html' %}
<div class="container" id="card5" style="display: none;">
    <div class="card">
        {% include 'cards/imi.html' %}
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress(); saveIMI('pre');"> Continue</a>
        </div>
    </div>
</div>
<div class="container" id="card6" style="display: none;">
    <div class="card">
        {% include 'cards/pxi.html' %}
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress(); savePXI('pre');"> Continue</a>
        </div>
    </div>
</div>
{% include 'cards/task_main.html' %}
<div class="container" id="card10" style="display: none;">
    <div class="card">
        {% include 'cards/imi.html' %}
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress(); saveIMI('main');"> Continue</a>
        </div>
    </div>
</div>
<div class="container" id="card11" style="display: none;">
    <div class="card">
        {% include 'cards/pxi.html' %}
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress(); savePXI('main');"> Continue</a>
        </div>
    </div>
</div>
<div class="container" id="card12" style="display: none;">
    <div class="card">
         {% include 'cards/end.html' %}
    </div>
</div>
{% endblock %}
