<div class="card-header text-white">
    PXI
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <div class="progress-text" style="margin-left: 4px">0%</div>
    </div>
</div>
<div class="card-body">
    <p class="card-text">
        Player Experience Inventory
    </p>
    <br>
    <div class="wrap">
        <label class="statement">This HTML Likert scale is easy to use.</label>
                <ul class='likert'>
            <li>
                <input type="radio" name="scale0" value="strong_agree">
                <label>Strongly agree</label>
            </li>
            <li>
                <input type="radio" name="scale0" value="agree">
                <label>Agree</label>
            </li>
            <li>
                <input type="radio" name="scale0" value="neutral">
                <label>Neutral</label>
            </li>
            <li>
                <input type="radio" name="scale0" value="disagree">
                <label>Disagree</label>
            </li>
            <li>
                <input type="radio" name="scale0" value="strong_disagree">
                <label>Strongly disagree</label>
            </li>
        </ul>
        <label class="statement">This HTML Likert scale is easy to use.</label>
        <ul class='likert'>
            <li>
                <input type="radio" name="scale1" value="strong_agree">
                <label>Strongly agree</label>
            </li>
            <li>
                <input type="radio" name="scale1" value="agree">
                <label>Agree</label>
            </li>
            <li>
                <input type="radio" name="scale1" value="neutral">
                <label>Neutral</label>
            </li>
            <li>
                <input type="radio" name="scale1" value="disagree">
                <label>Disagree</label>
            </li>
            <li>
                <input type="radio" name="scale1" value="strong_disagree">
                <label>Strongly disagree</label>
            </li>
        </ul>
        <label class="statement">It's clear that this is a responsive design.</label>
        <ul class='likert'>
            <li>
                <input type="radio" name="scale2" value="strong_agree">
                <label>Strongly agree</label>
            </li>
            <li>
                <input type="radio" name="scale2" value="agree">
                <label>Agree</label>
            </li>
            <li>
                <input type="radio" name="scale2" value="neutral">
                <label>Neutral</label>
            </li>
            <li>
                <input type="radio" name="scale2" value="disagree">
                <label>Disagree</label>
            </li>
            <li>
                <input type="radio" name="scale2" value="strong_disagree">
                <label>Strongly disagree</label>
            </li>
        </ul>
        <label class="statement">Codepen.io is an excellent tool for prototyping.</label>
        <ul class='likert'>
            <li>
                <input type="radio" name="scale3" value="strong_agree">
                <label>Strongly agree</label>
            </li>
            <li>
                <input type="radio" name="scale3" value="agree">
                <label>Agree</label>
            </li>
            <li>
                <input type="radio" name="scale3" value="neutral">
                <label>Neutral</label>
            </li>
            <li>
                <input type="radio" name="scale3" value="disagree">
                <label>Disagree</label>
            </li>
            <li>
                <input type="radio" name="scale3" value="strong_disagree">
                <label>Strongly disagree</label>
            </li>
        </ul>
        <label class="statement">Pete Fecteau is incredibly smart and handsome.</label>
        <ul class='likert'>
            <li>
                <input type="radio" name="scale4" value="strong_agree">
                <label>Strongly agree</label>
            </li>
            <li>
                <input type="radio" name="scale4" value="agree">
                <label>Agree</label>
            </li>
            <li>
                <input type="radio" name="scale4" value="neutral">
                <label>Neutral</label>
            </li>
            <li>
                <input type="radio" name="scale4" value="disagree">
                <label>Disagree</label>
            </li>
            <li>
                <input type="radio" name="scale4" value="strong_disagree">
                <label>Strongly disagree</label>
            </li>
        </ul>
    </div>
</div>

