<script type="text/javascript">

{#Get checked radio btn by name#}
function get_checked(name){
    let radios = document.getElementsByName(name);
    let value;
    for (let i = 0; i < radios.length; i++) {
        if (radios[i].type === 'radio' && radios[i].checked) {
            value = radios[i].value;
        }
    }
    return value;
}

{# Save answer from tasks, grouped by pre or main task#}
function on_continue_task(parameters, name) {
    {#Display error message if question not answered#}
    let missing_answr = "false";
    let arrayLength = parameters.listarray.length;
    for (let i = 0; i < arrayLength; i++) {
        let items = parameters.listarray[i];
        document.getElementById('error'+name+ items.task_id).innerHTML = "";
        {#Check if not answered#}
        if (items.answer == null || items.answer === "") {
            document.getElementById('error'+name+ items.task_id).innerHTML = "Please select an answer.";
            document.getElementById('error'+name).innerHTML = "Some answers are missing. Please answer all questions before continuing.";
            $('html,body').scrollTop(0);
            missing_answr = "true";
        }
    }
    {#Continue if all answered#}
    if (missing_answr === "false"){
        document.getElementById('error'+name).innerHTML = "";
        displayCards(); fillProgress();

        {#Save answers in DB#}
        let xhr = new XMLHttpRequest();
        xhr.open("POST", '/website/saveTask', true);
        xhr.setRequestHeader("X-CSRFToken", csrfToken);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(parameters));
    }
}

{#Save answered tasks#}
function saveTask(type){
    $('.sticky{{ page_nr }}').removeClass('fixed-header');
    let parameters = {};
    parameters.listarray = [];
    parameters.type = type;

    if (type === "p1"){
        {% for task in p1 %}
            var tasks = {};
            tasks.item = {{ forloop.counter }};
            tasks.task_id = "{{ task.pk }}";
            tasks.answer = get_checked("p1{{ task.pk }}");
            parameters.listarray.push(tasks);
        {% endfor %}

        {#Display error message if question not answered#}
        {#Else continue#}
        on_continue_task(parameters, "p1");
    }

    else if (type === "p2"){
        {% for task in p2 %}
            var tasks = {};
            tasks.item = {{ forloop.counter }};
            tasks.task_id = "{{ task.pk }}";
            tasks.answer = get_checked("p2{{ task.pk }}");
            parameters.listarray.push(tasks);
        {% endfor %}

        {#Display error message if question not answered#}
        {#Else continue#}
        on_continue_task(parameters, "p2");
    }

    else if (type === "m1"){
        {% for task in m1 %}
            var tasks = {};
            tasks.item = {{ forloop.counter }};
            tasks.task_id = "{{ task.pk }}";
            tasks.answer = get_checked("m1{{ task.pk }}");
            parameters.listarray.push(tasks);
        {% endfor %}

        {#Display error message if question not answered#}
        {#Else continue#}
        on_continue_task(parameters, "m1");
    }

    else if (type === "m2"){
        {% for task in m2 %}
            var tasks = {};
            tasks.item = {{ forloop.counter }};
            tasks.task_id = "{{ task.pk }}";
            tasks.answer = get_checked("m2{{ task.pk }}");
            parameters.listarray.push(tasks);
        {% endfor %}

        {#Display error message if question not answered#}
        {#Else continue#}
        on_continue_task(parameters, "m2");
    }

    else {
        {#console.log("ERROR: Task set "+type+ " unknown.")#}
    }
}

{# Save answer from questions, grouped by pre or main task#}
function on_continue_question(parameters, type, name){
    {#Display error message if question not answered#}
    let missing_answr = "false";
    let arrayLength = parameters.listarray.length;
    for (let i = 0; i < arrayLength; i++) {
        let items = parameters.listarray[i];
        document.getElementById('error'+name+ type+(i+1)).innerHTML = "";
        {#Check if not answered#}
        if (items.answer == null || items.answer === "") {
            document.getElementById('error'+name+ type+(i+1)).innerHTML = "Please select an answer.";
            document.getElementById('error'+name+ type).innerHTML = "Some answers are missing. Please answer all questions before continuing.";
            $('html,body').scrollTop(0);
            missing_answr = "true";
        }
    }
    {#Continue if all answered#}
    if (missing_answr === "false") {
        document.getElementById('error' + name+ type).innerHTML = "";
        displayCards(); fillProgress();

        let xhr = new XMLHttpRequest();
        xhr.open("POST", '/website/saveQuestionnaire', true);
        xhr.setRequestHeader("X-CSRFToken", csrfToken);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(parameters));
    }
}

{# Save answer from questionnaires#}
function saveQuestionnaire(type, name){
    let parameters = {};
    parameters.listarray = [];
    parameters.type = type;
    parameters.name = name;

    if (name === "IMI") {
        if (type === "pre") {
            {% for item in imi %}
                var question = {};
                question.answer = get_checked("scalePre{{ forloop.counter }}");
                question.item = {{ forloop.counter }};
                question.question_id = "{{ item.pk}}";
                parameters.listarray.push(question);
            {% endfor %}
            on_continue_question(parameters, type, name);
        } else if (type === "main") {
            {% for item in imi %}
                var question = {};
                question.answer = get_checked("scaleMain{{ forloop.counter }}");
                question.item = {{ forloop.counter }};
                question.question_id = "{{ item.pk}}";
                parameters.listarray.push(question);
            {% endfor %}
            on_continue_question(parameters, type, name);
        } else {
            {#console.log("ERROR: Questionnaire " + name +" "+ type + " unknown.")#}
        }

    } else if (name == "PANAS"){
        if (type === "pre") {
            {% for item in panas %}
                var question = {};
                question.answer = get_checked("scalePanasPre{{ forloop.counter }}");
                question.item = {{ forloop.counter }};
                question.question_id = "{{ item.pk}}";
                parameters.listarray.push(question);
            {% endfor %}
            on_continue_question(parameters, type, name);
        } else if (type === "main") {
            {% for item in panas %}
                var question = {};
                question.answer = get_checked("scalePanasMain{{ forloop.counter }}");
                question.item = {{ forloop.counter }};
                question.question_id = "{{ item.pk}}";
                parameters.listarray.push(question);
            {% endfor %}
            on_continue_question(parameters, type, name);
        } else {
            {#console.log("ERROR: Questionnaire "+ name +" "+ type + " unknown.")#}
        }
    } else{
        {#console.log("ERROR: Questionnaire " + name + " unknown.")#}
    }
}
</script>
