{# Save answer from tasks, grouped by pre or main task#}
<script type="text/javascript">

{#Get chekced radio btn by name#}
function get_checked(name){
    let radios = document.getElementsByName(name);
    let value;
    for (let i = 0; i < radios.length; i++) {
        if (radios[i].type === 'radio' && radios[i].checked) {
            value = radios[i].value;
        }
    }
    return value;
}

function display_error_msg(parameters, name) {
    {#Display error message if question not answered#}
    let missing_answr = "false";
    let arrayLength = parameters.listarray.length;
    for (let i = 0; i < arrayLength; i++) {
        let items = parameters.listarray[i];
        document.getElementById('error'+name+ items.task_id).innerHTML = "";
        {#Check if not answered#}
        if (items.answer == null || items.answer === "") {
            document.getElementById('error'+name+ items.task_id).innerHTML = "Please select an answer.";
            document.getElementById('error'+name).innerHTML = "Some answers are missing. Please answer all questions before continuing.";
            $('html,body').scrollTop(0);
            missing_answr = "true";
        }
    }
    {#Continue if all answered#}
    if (missing_answr === "false"){
        document.getElementById('error'+name).innerHTML = "";
        displayCards(); fillProgress();
    }
}

{#Save answered tasks#}
function saveTask(type){
    let parameters = {};
    parameters.listarray = [];
    parameters.type = type;

    if (type === "p1"){
        {% for task in p1 %}
            var tasks = {};
            tasks.item = {{ forloop.counter }};
            tasks.task_id = "{{ task.pk }}";
            {#document.write('<script id="task_pk" type="application/json">{{ task.pk }}<\/script>'); |json_string#}
            {#var js_variable = JSON.parse(document.getElementById('task_pk').textContent);#}
            tasks.answer = get_checked("p1{{ task.pk }}");
            parameters.listarray.push(tasks);
        {% endfor %}

        {#Display error message if question not answered#}
        {#Else continue#}
        display_error_msg(parameters, "p1");
    }

    if (type === "p2"){
        {% for task in p2 %}
            var tasks = {};
            tasks.item = {{ forloop.counter }};
            tasks.task_id = "{{ task.pk }}";
            tasks.answer = get_checked("p2{{ task.pk }}");
            parameters.listarray.push(tasks);
        {% endfor %}

        {#Display error message if question not answered#}
        {#Else continue#}
        display_error_msg(parameters, "p2");
    }

    if (type === "m1"){
        {% for task in m1 %}
            var tasks = {};
            tasks.item = {{ forloop.counter }};
            tasks.task_id = "{{ task.pk }}";
            tasks.answer = get_checked("m1{{ task.pk }}");
            parameters.listarray.push(tasks);
        {% endfor %}
    }

    if (type === "m2"){
        {% for task in m2 %}
            var tasks = {};
            tasks.item = {{ forloop.counter }};
            tasks.task_id = "{{ task.pk }}";
            tasks.answer = get_checked("m2{{ task.pk }}");
            parameters.listarray.push(tasks);
        {% endfor %}
    }

    {#console.log(parameters);#}
    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/website/saveTask', true);
    xhr.setRequestHeader("X-CSRFToken", csrfToken);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(parameters));
}
</script>

