{% load static %}
<div class="card-header text-white">
    End
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <div class="progress-text" style="margin-left: 4px">0%</div>
    </div>
</div>
<div class="card-body" id="end-card">
    <div id="deleteData" class="error"></div>
    <p class="card-text">
        Thank you for your participation!
        <br>
        We greatly appreciate your participation in our study, and thank you for spending the time helping us with our
        research.
    </p>
    <p class="card-text">
        <b style="font-size: 20px">Clarification of Study Goal</b>
        <br>
        The purpose of this post-study information page is to provide additional details about the study you
        just participated in. In this study, we used partial disclosure and deception. At the beginning, you were told
        that the purpose of
        this study was to investigate whether your cognitive abilities matched your experience while completing the
        tasks.
        However, this was only partially true. We also wanted to investigate whether framing had an impact on perceived
        competence.
        The framing effect describes that our decisions are influenced by the way information is presented.
        Therefore, each participant was randomly assigned to one of three groups: Either they were told
        after the first 8 tasks and the first questionnaire that their performance has exceeded our expectations or was
        not what we expected, or they were given a neutral sentence asking them to continue the study.
    <p>
    <p class="card-text">
        {% if framing == 0 %}
            You were in the control condition. This means that you were presented with the neutral statement:
            "Thank you for your answers so far. Please proceed with the survey.".
        {% endif %}
        {% if framing == 1 %}
            You were in the positive framing condition. This means that you were presented with the positive statement:
            "Very good, that’s an excellent beginning. In this round, your performance has exceeded our expectations.
            You’ll surely do well in the next round!"
        {% endif %}
        {% if framing == 2 %}
            You were in the negative framing condition. This means that you were presented with the negative statement:
            "Well, that’s a start. In this round, your performance was not what we expected.
            Hopefully you can do a little better in the next round!."
        {% endif %}
    </p>
    <p class="card-text">
        In reality, the framing condition you were presented with did not reflect your performance and was purely
        random. In fact, you answered <b><span id="actual_score_pre"></span> out of 8 tasks </b> correctly in the first round. In
        the second round,  you answered <b><span id="actual_score_main"></span> out of 8 tasks </b> correctly.
        <span id="actual_score_extra"></span> <span id="actual_score_count"></span>
        We could not give participants complete information about the study prior to their participation, as this could
        have influenced their behavior during the study in a way that would have invalidated investigations of the
        research question. The reason for the deception in this study was to keep participants' behaviors and attitudes
        unaffected by the goals of the study.
    </p>
    <p class="card-text">
        Since some elements of the study are different from what was originally explained, there is another
        consent form for you to read and complete, if you are willing to allow us to use the information you
        have provided. This consent is also a record that the full purpose of the study was explained to you.
    </p>
    <p class="card-text">
        We really appreciate your participation and hope that this has been an interesting experience for you.
        Once all the data are collected and analyzed for this project, we plan on sharing this information with
        the research community through seminars, conferences, presentations, and journal articles.
    </p>

    <div class="card-text">
        <div>During the study, did you suspect that you had been given false information about your performance?</div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="deception" id="deception_no">
            <label class="form-check-label" for="deception_no"> No </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="deception" id="deception_yes">
            <label class="form-check-label" for="deception_yes"> Yes </label>
            <div id="div_text_deception" style="display: none;">
                <label class="form-check-label" for="text_deception">Based on what factors did you determine the deception?</label>
                <textarea class="form-control" id="text_deception" rows="2"></textarea>
            </div>
        </div>
{#        <br>#}
{#        <div>#}
{#            <label class="form-check-label" for="text_deception"> Do you have any comments? (optional)</label>#}
{#            <textarea class="form-control" id="text_deception" rows="2"></textarea>#}
{#        </div>#}
    </div>
    <br>
    <p class="card-text">
        <b style="font-size: 20px">Post-debriefing consent form</b>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="check_debriefing" autocomplete="off" style="cursor: pointer">
            <label for="check_debriefing" style="cursor: pointer">
                I read the post-study information and give my permission for the researchers to use my data
                and/or the information I provided through the online survey for this study. This includes
                permission to use all the data I provided: my demographic data, my answers from the questionnaires
                assessing intrinsic motivation, my answers from the questionnaires assessing the feelings and emotions
                of doing the tasks as well as my answers from the tasks.
            </label>
        </div>
    </p>
    <p class="card-text">
        If you have questions about the use of partial deception in this study, please contact the researcher
        Julia Schulz at <a href="mailto:s8juschu@stud.uni-saarland.de"
                           target="_BLANK">s8juschu@stud.uni-saarland.de</a>.
    </p>
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-accept-terms" id="endSurvey">
        End survey
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">You did not accept the post-debriefing consent form </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You have <b>not accepted</b> the consent form for debriefing.
                    If you continue, your responses and <b>participation in the study will be revoked</b>. If you would like to
                    go back to the prolific page and revoke your participation, please press the "Delete Answers" button.
                    Otherwise press the "Back" button.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="revokeData" data-dismiss="modal" onclick="displayDelete()">
                        Delete Answers
                    </button>
                    <button type="button" class="btn btn-accept-terms" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    </p>
    <br>
</div>
