<div class="card-header text-white">
    IMI
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <div class="progress-text" style="margin-left: 4px">0%</div>
    </div>
</div>
<div class="card-body">
    <p class="card-text">
        Intrinsic Motivation Inventory
    </p>
    <br>
    <div class="wrap">
        {% for question in imi %}
        <label class="statement">{{ question }}</label>
        <ul class='likert'>
            <li>
                <input type="radio" name="scale{{ forloop.counter0 }}" value="1">
                <label>Not true at all</label>
            </li>
            <li>
                <input type="radio" name="scale{{ forloop.counter0 }}" value="2">
            </li>
            <li>
                <input type="radio" name="scale{{ forloop.counter0 }}" value="3">
            </li>
            <li>
                <input type="radio" name="scale{{ forloop.counter0 }}" value="4">
                <label>Somewhat true</label>
            </li>
            <li>
                <input type="radio" name="scale{{ forloop.counter0 }}" value="5">
            </li>
            <li>
                <input type="radio" name="scale{{ forloop.counter0 }}" value="6">
            </li>
            <li>
                <input type="radio" name="scale{{ forloop.counter0 }}" value="7">
                <label>Very true</label>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>


