<div class="container" id="card11" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
           Questionnaire 2
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
               With the questionnaire on the two next pages, we would again like to get your opinion on the previous 8 tasks.
               Please answer the questions as well as you can.
            </p>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); "> Continue</a>
        </div>
    </div>
</div>
<div class="container" name="imi_main" id="card12" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            Questionnaire 2
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <div id="errorIMImain" class="error"></div>
            <div class="wrap">
                {% for question in imi %}
                <label class="statement">{{ forloop.counter }}. {{ question }}</label>
                <div id="errorIMImain{{ forloop.counter }}" class="error_sub error_question"></div>
                <ul class='likert'>
                    <li>
                        <label class="imiLabel">
                            <input type="radio" class="scaleIMI"  name="scaleMain{{ forloop.counter }}" value="1"
                                   id="scaleMain{{ forloop.counter }}1">
                                Not true at all
                        </label>
                    </li>
                    <li>
                        <label class="imiLabel">
                            <input type="radio" class="scaleIMI" name="scaleMain{{ forloop.counter }}" value="2">
                        </label>
                    </li>
                    <li>
                        <label class="imiLabel">
                            <input type="radio" class="scaleIMI" name="scaleMain{{ forloop.counter }}" value="3">
                        </label>
                    </li>
                    <li>
                        <label class="imiLabel">
                            <input type="radio" class="scaleIMI" name="scaleMain{{ forloop.counter }}" value="4" id="scaleMain{{forloop.counter}}4">
                            Somewhat true
                        </label>
                    </li>
                    <li>
                        <label class="imiLabel">
                            <input type="radio" class="scaleIMI" name="scaleMain{{ forloop.counter }}" value="5">
                        </label>
                    </li>
                    <li>
                        <label class="imiLabel">
                            <input type="radio" class="scaleIMI" name="scaleMain{{ forloop.counter }}" value="6">
                        </label>
                    </li>
                    <li>
                        <label class="imiLabel">
                            <input type="radio" class="scaleIMI" name="scaleMain{{ forloop.counter }}" value="7"
                                   id="scaleMain{{ forloop.counter }}7">
                            Very true
                        </label>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="saveQuestionnaire('main', 'IMI');"> Continue</a>
        </div>
    </div>
</div>


