<div class="container" id="card5" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
           Questionnaire 1
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
{#            <p class="card-text">#}
{#                {% if framing == 0 %}#}
{#                  Control Group: Thank you for your answers so far. Please proceed with the survey.#}
{#                {% endif %}#}
{#                {% if framing == 1 %}#}
{#                  pos framing: Thank you for your answers so far. You performed well in the first round.#}
{#                    If you continue like this, you will perform better than most participants.#}
{#                    Please proceed with the survey.#}
{#                {% endif %}#}
{#                {% if framing == 2 %}#}
{#                  neg Framing: Thank you for your answers so far. You performed poorly in the first round.#}
{#                    If you continue like this, you will perform worse than most participants.#}
{#                    Please proceed with the survey.high in the first round.#}
{#                {% endif %}#}
{#            </p>#}
            <p class="card-text">
               With the questionnaire on the next two pages we would like to get your opinion on the previous tasks.
               Please answer the questions as well as you can.
            </p>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress()"> Continue</a>
        </div>
    </div>
</div>
<div class="container" id="card6" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            Questionnaire 1
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <div id="errorIMIpre" class="error"></div>
            <div class="wrap">
                {% for question in imi %}
                    <label class="statement">{{ forloop.counter }}. {{ question }}</label>
                    <div id="errorIMIpre{{ forloop.counter }}" class="error_sub error_question"></div>
                    <ul class='likert'>
                        <li>
                            <input type="radio" name="scalePre{{ forloop.counter }}" value="1" id="scalePre{{forloop.counter}}1">
                            <label for="scalePre{{forloop.counter}}1">Not true at all</label>
                        </li>
                        <li>
{#                            <label class="btn btn-lg btn-default">#}
                            <input type="radio" name="scalePre{{ forloop.counter }}" value="2">
{#                                </label>#}
                        </li>
                        <li>
                            <input type="radio" name="scalePre{{ forloop.counter }}" value="3">
                        </li>
                        <li>
                            <input type="radio" name="scalePre{{ forloop.counter }}" value="4" id="scalePre{{forloop.counter}}4">
                            <label for="scalePre{{forloop.counter}}4">Somewhat true</label>
                        </li>
                        <li>
                            <input type="radio" name="scalePre{{ forloop.counter }}" value="5">
                        </li>
                        <li>
                            <input type="radio" name="scalePre{{ forloop.counter }}" value="6">
                        </li>
                        <li>
                            <input type="radio" name="scalePre{{ forloop.counter }}" value="7" id="scalePre{{forloop.counter}}7">
                            <label for="scalePre{{forloop.counter}}7">Very true</label>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="saveQuestionnaire('pre', 'IMI');"> Continue</a>
        </div>
    </div>
</div>




