<div class="container" id="card5" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
           Questionnaire 1
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
{#            <p class="card-text">#}
{#                {% if framing == 0 %}#}
{#                  Control Group: Thank you for your answers so far. Please proceed with the survey.#}
{#                {% endif %}#}
{#                {% if framing == 1 %}#}
{#                  pos framing: Thank you for your answers so far. You performed well in the first round.#}
{#                    If you continue like this, you will perform better than most participants.#}
{#                    Please proceed with the survey.#}
{#                {% endif %}#}
{#                {% if framing == 2 %}#}
{#                  neg Framing: Thank you for your answers so far. You performed poorly in the first round.#}
{#                    If you continue like this, you will perform worse than most participants.#}
{#                    Please proceed with the survey.high in the first round.#}
{#                {% endif %}#}
{#            </p>#}
            <p class="card-text">
                {% if framing == 0 %}
                    <!--Control Group-->
                    Thank you for your answers so far.
                {% endif %}
                {% if framing == 1 %}
                    <!--Positive Framing-->
{#                    Thank you for your answers so far. Number of correctly answered tasks in the last round:#}
{#                    <br>#}
{#                    <b style="color: #006dcc; font-size: 21px">7 out of 8</b> tasks <b>correct</b>#}
{#                    <br>#}
                        Very good, that’s an excellent beginning.
                        In the last round, your performance has exceeded our expectations.<br>
                        You’ll surely do well in the next round!
                {% endif %}
                {% if framing == 2 %}
                    <!--Negative Framing-->
{#                    Thank you for your answers so far. Number of correctly answered tasks in the last round:#}
{#                    <br>#}
{#                    <b style="color: #006dcc; font-size: 21px">2 out of 8</b> tasks <b>correct</b>#}
{#                    <br>#}
                        Well, that’s a start.
                        In the last round, your performance was not what we expected. <br>
                        Hopefully you can do a little better in the next round!
                {% endif %}
            </p>
            <p class="card-text">
               With the questionnaire on the next two pages we would like to get your opinion on the previous tasks.
               Please answer the questions as well as you can.
            </p>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); "> Continue</a>
        </div>
    </div>
</div>
<div class="container" name="imi_pre" id="card6" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            Questionnaire 1
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <div id="errorIMIpre" class="error"></div>
            <div class="wrap">
                {% for question in imi %}
                    <label class="statement">{{ forloop.counter }}. {{ question }}</label>
                    <div id="errorIMIpre{{ forloop.counter }}" class="error_sub error_question"></div>
                    <ul class='likert'>
                        <li>
                            <label class="imiLabel">
                                <input type="radio" class="scaleIMI" name="scalePre{{ forloop.counter }}" value="1"
                                       id="scalePre{{ forloop.counter }}1">
                                    Not true at all
                            </label>
                        </li>
                        <li>
                            <label class="imiLabel">
                                <input type="radio" class="scaleIMI" name="scalePre{{ forloop.counter }}" value="2">
                            </label>
                        </li>
                        <li>
                            <label class="imiLabel">
                                <input type="radio" class="scaleIMI" name="scalePre{{ forloop.counter }}" value="3">
                            </label>
                        </li>
                        <li>
                            <label class="imiLabel">
                                <input type="radio" class="scaleIMI" name="scalePre{{ forloop.counter }}" value="4"
                                       id="scalePre{{forloop.counter}}4">
                                Somewhat true
                            </label>
                        </li>
                        <li>
                            <label class="imiLabel">
                                <input type="radio" class="scaleIMI" name="scalePre{{ forloop.counter }}" value="5">
                            </label>
                        </li>
                        <li>
                            <label class="imiLabel">
                                <input type="radio" class="scaleIMI" name="scalePre{{ forloop.counter }}" value="6">
                            </label>
                        </li>
                        <li>
                            <label class="imiLabel">
                                <input type="radio" class="scaleIMI" name="scalePre{{ forloop.counter }}" value="7"
                                       id="scalePre{{ forloop.counter }}7">
                                Very true
                            </label>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="saveQuestionnaire('pre', 'IMI');"> Continue</a>
        </div>
    </div>
</div>




