<div class="container" id="card13" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            Questionnaire
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <div id="errorPANASmain" class="error"></div>
            This scale again consists of a number of words that describe different feelings and emotions. Read each item and
            then mark the appropriate answer in the space next to that word. Indicate to what extent you have felt this
            way when doing the tasks. Use the following scale to record your answers.
            <br><br>
            <div class="wrap">
                <div class="container">
                    {% for item in panas %}
                    <div class="row">
                        <div id="errorPANASmain{{ forloop.counter }}" class="col-md-1 error_sub error_question"></div>
                        <div class="col-md-2">{{forloop.counter}}. {{item}}</div>
                        <div class="col-md-9">
                            <ul class='likert panas'>
                                <li>
                                    <input type="radio" name="scalePanasMain{{forloop.counter}}" value="1">
                                    <label>not at all</label>
                                </li>
                                <li>
                                    <input type="radio" name="scalePanasMain{{forloop.counter}}" value="2">
                                    <label>a little</label>
                                </li>
                                <li>
                                    <input type="radio" name="scalePanasMain{{forloop.counter}}" value="3">
                                    <label>moderately</label>
                                </li>
                                <li>
                                    <input type="radio" name="scalePanasMain{{forloop.counter}}" value="4">
                                    <label>quite a bit</label>
                                </li>
                                <li>
                                    <input type="radio" name="scalePanasMain{{forloop.counter}}" value="5">
                                    <label>extremely</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="saveQuestionnaire('main', 'PANAS');"> Continue</a>
        </div>
    </div>
</div>
