<div class="card-header text-white">
           Personal Information
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <div class="progress-text" style="margin-left: 4px">0%</div>
    </div>
</div>
<div class="card-body">
    <div id="errorPersonal" class="error"></div>
    <p class="card-text">
        How old are you?
        <div id="errorPersonalAge" class="error_sub"></div>
        <input type="number" min="0" max="110" step="1" id="age" name="age" class="form-control"  style="width: 200px">
        <hr>
        With which gender do you identify yourself?
        <div id="errorPersonalGender" class="error_sub"></div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male">
            <label class="form-check-label" for="male">
                Male
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female">
            <label class="form-check-label" for="female">
                Female
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="other">
            <label class="form-check-label" for="other">
                Other
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="private">
            <label class="form-check-label" for="private">
                Prefer not to say.
            </label>
        </div>
    </p>
</div>
