<div class="card-header text-white">
    Welcome to our study!
</div>
<div class="card-body">
    <p class="card-text">
        <b>Participation information</b><br><br>
        Thank you for participating in our study. In this study, we would like to investigate XYZ.
        It will take around XYZ min.<br><br>
        Your data will be stored and processed anonymously only. More information on data protection can be
        found in the legal notice. This study is conducted by Julia Schulz as part of her master thesis
        at DFKI (German Research Center for Artificial Intelligence) and UdS (Saarland University). For
        questions or comments, contact us at:<br>
        <b>s8juschu@stud.uni-saarland.de</b><br><br>

        <b>Notes on data protection and participation information:</b><br>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox" autocomplete="off"> I have read and understood the
        information on data protection and the participation information and agree
        that my data may be used anonymously for scientific research purposes. <br>
    </div>

    </p>
    <br>
</div>
