<div class="card-header text-white">
    Participation information
</div>
<div class="card-body">
    <p class="card-text">
        Thank you for participating in our study. In this survey, we would like to measure your cognitive abilities
        and our experience while performing the tasks.
        This survey consists of two parts. In each part, you have to solve 8 cognitive ability tasks, followed by a questionnaire.
        It will take about 25 minutes to complete the survey. The goal of the study is to identify to which extent your
        cognitive abilities match your reported experience while performing the tasks.<br><br>

        Your data will be stored and processed anonymously.
        More information on data protection can be found in the <a href="#" data-toggle="modal" data-target="#exampleModal">Data Protection Notice</a>.
        This survey is being conducted by Julia Schulz as part of a master's thesis at Saarland University.<br><br>

        <b>Notes on data protection and participation information:</b><br>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox" autocomplete="off"> I have read and understood the
        <a href="#" data-toggle="modal" data-target="#exampleModal">notes on data protection</a> and the participation information and agree
        that my data may be used anonymously for scientific research purposes. <br>
    </div>

    </p>
    <br>
</div>
