{% load static %}
<div class="container" id="card8" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            Study Part 2
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
{#                Please proceed with the survey.#}
                The questions on the next pages are again different kinds of cognitive ability tasks.
                Please answer the questions as well as you can without using external instruments or taking notes.
            </p>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); "> Continue</a>
        </div>
    </div>
</div>
<div class="container" id="card9" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            <div style="display: flex; justify-content: space-between">
                <div>
                    Cognitive Ability Tasks
                </div>
{#                {% if framing == 0 %}#}
{#                    <!--Control Group-->#}
{#                {% endif %}#}
{#                {% if framing == 1 %}#}
{#                    <!--Positive Framing-->#}
{#                    <div class="sticky9">#}
{#                        Correct answers 1<sup>st</sup> round: 7/8#}
{#                    </div>#}
{#                {% endif %}#}
{#                {% if framing == 2 %}#}
{#                    <!--Negative Framing-->#}
{#                    <div class="sticky9">#}
{#                        Correct answers 1<sup>st</sup> round: 2/8#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div id="errorm1" class="error"></div>
                {% for task in m1 %}
                    <p class="card-text">{{ task.description }}</p>
                    {% if task.details|length > 0 %}
                        {{ task.details }}
                        <br><br>
                    {% endif %}
                    {% if task.image_link|length > 0 %}
                        {% with 'img/'|add:task.image_link as image_static %}
                            <img src="{% static image_static %}" alt="">
                        {% endwith %}
                        <br><br>
                    {% endif %}
                    <div id="errorm1{{ task.pk }}" class="error_sub"></div>
                    <div class="row">
                        {% for arr in array_m1|dict_key:task.pk %}
                            <div class="col-xs-12 col-sm-3 radiobtn">
                                <input type="radio" id="m1{{ task.pk }}{{ forloop.counter }}"
                                       name="m1{{ task.pk }}" value="{{ arr }}" readonly="readonly"/>
                                <label for="m1{{ task.pk }}{{ forloop.counter }}">{{ arr }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if not forloop.last %}
                        <br>
                        <hr>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer" id="btn-next">
            <button type="button" class="btn btn-next" data-toggle="modal" data-target="#badgeFirstModal">
              Continue
            </button>
        </div>
        <div class="modal fade" id="badgeFirstModal" tabindex="-1" role="dialog" aria-labelledby="badgeFirstModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="badgeFirstModalLabel">New badge unlocked</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{% static "img/silverBadge.png" %}" alt="">
                        <p>IQ Novice - Good performance</p>
                    </div>
                    <div class="modal-footer">
                         <a class="btn btn-next" {# onclick="saveTask('m1')" #} data-dismiss="modal">Collect!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="card10" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
           <div style="display: flex; justify-content: space-between">
                <div>
                    Cognitive Ability Tasks
                </div>
{#               {% if framing == 0 %}#}
{#                   <!--Control Group-->#}
{#               {% endif %}#}
{#               {% if framing == 1 %}#}
{#                   <!--Positive Framing-->#}
{#                   <div class="sticky10">#}
{#                       Correct answers 1<sup>st</sup> round: 7/8#}
{#                   </div>#}
{#               {% endif %}#}
{#               {% if framing == 2 %}#}
{#                   <!--Negative Framing-->#}
{#                   <div class="sticky10">#}
{#                       Correct answers 1<sup>st</sup> round: 2/8#}
{#                   </div>#}
{#               {% endif %}#}
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div id="errorm2" class="error"></div>
                {% for task in m2 %}
                    <p class="card-text">{{ task.description }}</p>
                    {% if task.details|length > 0 %}
                        {{ task.details }}
                        <br><br>
                    {% endif %}
                    {% if task.image_link|length > 0 %}
                        {% with 'img/'|add:task.image_link as image_static %}
                            <img src="{% static image_static %}" alt="">
                        {% endwith %}
                        <br><br>
                    {% endif %}
                    <div id="errorm2{{ task.pk }}" class="error_sub"></div>
                    <div class="row">
                        {% for arr in array_m2|dict_key:task.pk %}
                            <div class="col-xs-12 col-sm-3 radiobtn">
                                <input type="radio" id="m2{{ task.pk }}{{ forloop.counter }}"
                                       name="m2{{ task.pk }}" value="{{ arr }}" readonly="readonly"/>
                                <label for="m2{{ task.pk }}{{ forloop.counter }}">{{ arr }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if not forloop.last %}
                        <br>
                        <hr>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer" id="btn-next">
            <button type="button" class="btn btn-next" data-toggle="modal" data-target="#badgeSecondModal">
              Continue
            </button>
        </div>
        <div class="modal fade" id="badgeSecondModal" tabindex="-1" role="dialog" aria-labelledby="badgeSecondModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="badgeSecondModalLabel">New badge unlocked</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{% static "img/goldBadge.png" %}" alt="">
                        <p>IQ Master - Improved performance</p>
                    </div>
                    <div class="modal-footer">
                         <a class="btn btn-next" {#onclick="saveTask('m2')" #} data-dismiss="modal">Collect!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
