{% load static %}
<div class="container" id="card7" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            Study Part 2
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                {% if framing == 0 %}
                  Control Group: Thank you for your answers so far. Please proceed with the second half of this survey.
                {% endif %}
                {% if framing == 1 %}
                  pos framing: Thank you for your answers so far. You did exceptionally well in the first round.
                    If you continue like this, you will help us a lot with your contribution to the advancement of science.
                    Please proceed with the second half of this survey.
                {% endif %}
                {% if framing == 2 %}
                  neg Framing: Unfortunately, your rate of correct answers was not very high in the first round.
                    We still appreciate your effort! Please proceed with the second half of this survey.
                {% endif %}
            </p>
            <p class="card-text">
                The questions on the next pages are again different kinds of cognitive ability tasks.
                Please answer the questions as well as you can without using external instruments or taking notes.
            </p>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress()"> Continue</a>
        </div>
    </div>
</div>
<div class="container" id="card8" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            Cognitive Ability Tasks
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                {% for task in m1 %}
                    <p class="card-text">{{ task.description }}</p>
                    {% if task.details|length > 0 %}
                        {{ task.details }}
                        <br><br>
                    {% endif %}
                    {% if task.image_link|length > 0 %}
                        {% with 'img/'|add:task.image_link as image_static %}
                            <img src="{% static image_static %}" alt="">
                        {% endwith %}
                        <br><br>
                    {% endif %}
                    <div class="row">
                        {% for arr in array_m1|dict_key:task.pk %}
                            <div class="col-xs-12 col-sm-3 radiobtn">
                                <input type="radio" id="m1{{ task.pk }}{{ forloop.counter }}"
                                       name="m1{{ task.pk }}" value="{{ arr }}" readonly="readonly"/>
                                <label for="m1{{ task.pk }}{{ forloop.counter }}">{{ arr }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if not forloop.last %}
                        <br>
                        <hr>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress()"> Continue</a>
        </div>
    </div>
</div>
<div class="container" id="card9" style="display: none;">
    <div class="card">
        <div class="card-header text-white">
            Cognitive Ability Tasks
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                {% for task in m2 %}
                    <p class="card-text">{{ task.description }}</p>
                    {% if task.details|length > 0 %}
                        {{ task.details }}
                        <br><br>
                    {% endif %}
                    {% if task.image_link|length > 0 %}
                        {% with 'img/'|add:task.image_link as image_static %}
                            <img src="{% static image_static %}" alt="">
                        {% endwith %}
                        <br><br>
                    {% endif %}
                    <div class="row">
                        {% for arr in array_m2|dict_key:task.pk %}
                            <div class="col-xs-12 col-sm-3 radiobtn">
                                <input type="radio" id="m2{{ task.pk }}{{ forloop.counter }}"
                                       name="m2{{ task.pk }}" value="{{ arr }}" readonly="readonly"/>
                                <label for="m2{{ task.pk }}{{ forloop.counter }}">{{ arr }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if not forloop.last %}
                        <br>
                        <hr>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer" id="btn-next">
            <a class="btn btn-next" onclick="displayCards(); fillProgress()"> Continue</a>
        </div>
    </div>
</div>


