{% load static %}
<div class="card-header text-white">
     Additional tasks
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <div class="progress-text" style="margin-left: 4px">0%</div>
    </div>
</div>
<div class="card-body">
    {% for task in extratasks %}
    <div class="container" style="display: none;" id="extraTask{{ task.pk }}">
        <p class="card-text">{{ task.description }}</p>
        {% if task.details|length > 0 %}
            {{ task.details }}
            <br><br>
        {% endif %}
        {% if task.image_link|length > 0 %}
            {% with 'img/'|add:task.image_link as image_static %}
                <img src="{% static image_static %}" alt="">
            {% endwith %}
            <br><br>
        {% endif %}
        {#                        <br>#}
        {#                    <div class="container">#}
        <div id="errorExtra{{ task.pk }}" class="error_sub"></div>
        <div class="row">
            {% for arr in extrachoices|dict_key:task.pk %}
                <div class="col-xs-12 col-sm-3 radiobtn">
                    <input type="radio" id="extraTask{{ task.pk }}{{ forloop.counter }}"
                           name="extraTaskChoice{{ task.pk }}" value="{{ arr }}" readonly="readonly"/>
                    <label for="extraTask{{ task.pk }}{{ forloop.counter }}">{{ arr }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
