{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5 page-header">Welcome to WebSurvey</h1>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="card">
        <div class="card-header text-white">
            Participation information
        </div>
{#        <progress value="70" max="100">70 %</progress>#}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <div class="progress-text" style="margin-left: 4px">0%</div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                Page 1
            </p>
        </div>
        <div class="modal-footer" id="next" style="display: block;">
            <a class="btn btn-accept-terms" href="page2" style="">Continue</a>
        </div>
    </div>
</div>
{% endblock %}
